meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='icon', href='/favicon.ico')
title Opening Hours
// Bootstrap core CSS
link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
link(href='http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css', rel='stylesheet')
//- link(href='https://raw.githubusercontent.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.css', rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.css', rel='stylesheet')

style.
	.open { background: green; }
	.closed { background: red; }

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment-with-locales.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js')
