extends ./layout.jade

block content
	.container
			.form-group
				.row
					.col-md-5
						.row
							#datetimepicker
					.col-md-7
						.panel-group#accordion(role="tablist",aria-multiselectable="true")
							#resp
	script
		:coffee-script
			$ ->
				pickerElem = $('#datetimepicker')
				pickerElem.datetimepicker(
					inline: true
					sideBySide: true
					defaultDate : new Date()
					locale: 'de'
				)
				picker = $('#datetimepicker').data('DateTimePicker')
				updateList = ->
					container = $("#resp").empty()
					coll = new PlaceCollection('dateTime', picker.date())
					coll.fetch (err) ->
						coll.places.map (place) ->
							container.append new PlaceView(place).render()
				pickerElem.on 'dp.change', updateList
				$('#datetimepicker').trigger 'dp.change'
