extends ./layout.jade

block content
	.container
			.form-group
				.row
					.col-md-5
						.row
							#datetimepicker
					.col-md-7
						#resp
			script(src='/js/Place.js')
			script(src='/js/PlaceView.js')
			script(src='/js/PlaceCollection.js')
			script(type='text/javascript').
				$(function () {
					$('#datetimepicker').datetimepicker({
						inline: true,
						sideBySide: true,
						locale: 'de',
					});
					$('#datetimepicker').on('dp.change', function(e) {
						var container = $("#resp").empty();
						var coll = new PlaceCollection('dateTime', e.date) 
						coll.fetch(function() {
							coll.places.map(function(place) {
								container.append(new PlaceView(place).render());
							});
						});
					});
				});
